<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container{
        display: grid;
        grid-template-columns: 50% 50%;
        height: 100%;
        width: 100%;
        
    }
    .container .left form{
        margin: 3rem 2rem;
    }
    #post{
        margin: 1.4rem 0;
        padding: 5px;
        background: rgb(209, 209, 209);
    }

</style>

<body>
    <div class="container">
        <div class="left">
            <form action="" method="post">
                {%csrf_token%}
                {{form.as_p}}

                <button type="submit">submit form</button>
            </form>
        </div>
        <div class="right">
            {% for post in posts %}
                <p id="post">{{post}}</p>
            {% endfor %}
            
        </div>
    </div>
</body>
</html>

